body {
	margin: 0; padding: 0;

	font-family: 'Titillium Web', sans-serif; font-size: 16px; line-height: 18px; color: #fff;
	background: #87509c;
}
a:link {
	
} 
a:visited {
	
}
a:hover, a:focus {

}
a: active {

}

.visually-hidden {
	position: absolute;

	width: 1px; height: 1px; margin: -1px; border: 0; padding: 0;

	clip: rect(0 0 0 0); overflow: hidden;
}

.btn {
	display: block; padding: 25px 80px; 

	font-size: 18px; line-height: 26px; text-transform: uppercase; color: #fff; font-weight: 700;text-decoration: none;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto; padding: 0;
}
/*
* Main navigation of site 
* Logo and menu  
*/
.main-navigation {
	margin: 60px 0 140px 0;
	display: flex; justify-content: space-between;
}
	.main-navigation .main-logo {
		margin-left: 40px;
	}
	.main-navigation .main-menu {
		margin: 0; padding: 0;
		display: flex; justify-content: space-between; flex-wrap: wrap;

		list-style: none; 
	}
		.main-menu li {
			margin: 0; padding: 0;
		}
			.main-menu li a {
				display: block; margin-right: 20px; padding: 5px 10px;border: 5px solid transparent; 

				text-transform: uppercase; text-decoration: none; color: #fff;  
			}
			.main-menu li a:hover,
			.main-menu li a:focus {
				border-radius: 5px;

				background-color: rgb(100, 58, 121);
			}
			.main-menu li a:active {
				background-color: rgb(102, 42, 133);
			}

/*

*/
.vacancy {
	margin-bottom: 150px;
}
	.vacancy .wrapper {
		display: flex; flex-direction: column; justify-content: center; align-items: center;

	}
		.vacancy h2 {

			font-size: 42px; line-height: 48px; text-align: center; font-weight: 900; color: #fff; 
		}
		.vacancy a {
			border-radius: 5px; background: #eb7d4b; border-bottom: 5px solid #c05f33;
		}
		.vacancy a:hover,
		.vacancy a:focus {
			cursor: pointer;  background: rgba(235, 125, 75, 0.8); border-bottom: 5px solid rgba(192, 95, 51, 0.8); 
		}
		.vacancy a:active {
			cursor: pointer;  background: rgba(235, 125, 75, 0.5); border-bottom: 5px solid rgba(192, 95, 51, 0.5);
		}

/*

*/
.services {
	padding: 100px 0 150px 0; 

	background: #17c2a4;
}
	.services .wrapper {
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}
		.services h2 {
			margin: 0;

			font-size: 42px; line-height: 30px; color: #fff; 
		}
		.services h2::after {
			content: ""; display: block; width: 80px; height: 5px; margin: 20px auto; background: rgba(0, 0, 0, 0.15);
		}
		.services .services-subtitle {
			margin: 0 0 80px 0;	

			font-size: 18px; line-height: 26px; text-align: center;
		}
		.services  ul {
			margin: 0; padding: 0;display: flex; justify-content: space-around;  
			
			list-style: none; text-align: center;
		}
			.services  ul li {
				width: 17.27%; margin: 0 3.18%;
			}
				.services  ul a {
					text-decoration: none; color: #fff;
				}
					.services  ul a h3 {
						margin: 50px 0 15px 0;	

						font-size: 24px; line-height: 18px; text-transform: uppercase;
					}
					.services  ul a p {
						font-size: 16px; line-height: 24px; 
					}


/*

*/
.team {
	padding: 100px 0 150px 0; 

	color: #3c4761; text-align: center;

	background: #e7f1f8;
}
	.team .wrapper {
		display: flex; flex-direction: column; align-items: center; justify-content: center;
	}
		.team h2 {
			margin: 0;

			font-size: 41.29px; line-height: 30.87px; 
		}
		.team h2::after {
			content: ""; display: block; height: 5px; width: 80px;  margin: 20px auto;

			background: rgba(189, 209, 223, 0.75);
		}
		.team .team-subtitle {
			margin: 5px 0 80px 0;

			font-size: 18.58px; line-height: 26.84px;
		}
		.team .team-list {
			max-width: 1100px; margin: 0; padding: 0; display: flex; justify-content: space-around; flex-wrap: wrap;

			list-style: none; 
		} 
			.team .team-list .team-item {
				position: relative;

				box-sizing:border-box; max-width: 23.63%; padding: 0 2.5%;
			}

				.team-item::before {
						content: ""; display: block; width: 200px; height: 200px; 

						border-radius:100px; background: #878787;
				}
				.team-item img {
					position: absolute; top: 20px; left: 50px;
				}
				.team-item h3 {
					margin: 35px 0 15px 0;

					font-size: 24px; line-height: 18px; text-transform: uppercase; font-weight: 700;
				}
				.team-item p {
					margin-bottom: 30px;
				} 
					.team-item  p a {
						display: block; padding-bottom: 5px; margin-bottom: 30px; border-bottom: 2px solid transparent;

						color: #30bae7; text-decoration: none; font-weight: 400;

						/*transition: 0.1s all linear;*/
					}
					.team-item p a:hover,
					.team-item p a:focus {
						border-bottom: 2px solid #30bae7; outline: 0;
					}
					.team-item .team-contacts {
						display: flex; justify-content: center; margin: 0;padding: 0;

						list-style: none;
					}
						.team-contacts li {
							margin-right: 10px;
						}
						.team-contacts li:last-child {
							margin-right: 0;
						}
							
							.team-contacts li a {
								display:block; width: 30px; height: 30px; 

								background:#bdd1df; border-radius: 15px; 
							}
							.team-contacts .facebook{
								background:#bdd1df url("img/social.png") 6px 5px no-repeat;
							}
							.team-contacts .twitter {
								background:#bdd1df url("img/social.png") -75px 5px no-repeat;
							}
							.team-contacts .linkedIn {
								background:#bdd1df url("img/social.png") -18px 5px no-repeat;
							}
							.team-contacts .email {
								background:#bdd1df url("img/social.png") -46px 5px no-repeat;
							}

	
/*

*/
.skills {
	padding: 100px 0 150px 0; 

	color: #3c4761; text-align: center;

	background: #fff;
}
	.skills .wrapper {
		display: flex; flex-direction: column; align-items: center;
	}	
		.skills h2 {
			margin: 0;

			font-size: 40px; line-height: 30px; text-transform: uppercase; font-weight: 700;
		}
		.skills h2::after {
			content: ""; display: block; width: 80px; height: 5px; margin: 20px auto;

			background: rgba(223, 232, 237, 1);
		}
		.skills .skills-subtitle {
			margin: 0 0 85px 0;

			font-size: 18px; line-height: 26px;
		}			
		.skills .skills-list {
			margin: 0; padding: 0; width:100%; display: flex; justify-content: space-around;

			list-style: none;
		}
		.skills ul li {
			position: relative;

			width: 23.63%; padding: 0 1.18%;
		}
		.skills ul li:first-child::before {
			content: ""; display: block; width: 160px; height: 160px; margin: 0 auto 30px auto;

			border-radius: 50%; border: 10px solid #dfe8ed;

			animation: webDesign 2s linear 0.1s  normal forwards;
		}
		.skills ul li:nth-child(2)::before {
			content: ""; display: block; width: 160px; height: 160px; margin: 0 auto 30px auto;

			border-radius: 50%; border: 10px solid #dfe8ed;
		}
		.skills ul li:nth-child(3)::before {
			content: ""; display: block; width: 160px; height: 160px; margin: 0 auto 30px auto;

			border-radius: 50%; border: 10px solid #dfe8ed;
		}
		.skills ul li:last-child::before {
			content: ""; display: block; width: 160px; height: 160px; margin: 0 auto 30px auto;

			border-radius: 50%; border: 10px solid #dfe8ed;
		}
		
		/*
			animation

		*/
		@keyframes webDesign{
			0%{
				border-color: #dfe8ed;
				
			}
			20%{
				border-color: red;
			}
			
		}
		
		.skills ul span {
			position: absolute; top: 75px; left: 110px;

			font-size: 30px; line-height: 21px; text-transform: uppercase; font-weight: 400;
		}
		.skills ul p {

			font-size: 24px; line-height: 18px; font-weight: 700; text-transform: uppercase;
		}


/*

*/
.portfolio {
	padding: 100px 0 150px 0; 

	color: #393939; text-align: center;

	background: #ffdd99;
}
	.portfolio .wrapper {
		display: flex; flex-direction: column; align-items: center;
	}
		.portfolio h2 {
			margin: 0; 

			font-size: 40px; line-height: 30px; text-transform: uppercase; font-weight: 700;
		}
		.portfolio h2::after {
			content: ""; display: block; width: 80px; height: 5px; margin: 20px auto;

			background: #e5c37f;
		}
		.portfolio .portfolio-button-list {
			margin: 40px 0 60px 0; padding: 0; display: flex; justify-content: space-around;

			list-style: none; font-size: 18px; line-height: 20px; text-transform: uppercase; font-weight: 400;
		}
			.portfolio-button-list li {
				margin-right: 10px;
			}
			.portfolio-button-list li:last-child {
				margin-right: 0px;
			}
				.portfolio-button-list li button {
					padding: 5px 15px; width: 70px;

					border: none; border-radius: 5px;  background-color: rgba(0, 0, 0, 0.078);
				}
				.portfolio-button-list li:first-child button{
					background: #fff;	
				}
				.portfolio-button-list li button:hover,
				.portfolio-button-list li button:focus {
					cursor: pointer;

					background-color: rgb(255, 255, 255);
				}
				.portfolio-button-list li button:active {
					background-color: rgba(255, 255, 255,0.5);
				}
			
			.portfolio-list-all	{
				margin: 0; padding: 0; width: 100%; display: flex; flex-wrap: wrap; 

				list-style: none;
			}
				.portfolio-list-all li {
					width: 49.09%; margin-right: 20px; margin-bottom: 30px; 
				}
				.portfolio-list-all li:nth-child(even) {
					margin-right: 0;
				}
					.portfolio-list-all li img {
						padding-bottom: 10px;
					}
					.portfolio-list-all li a {

						color: inherit; text-decoration: none; text-transform: uppercase; font-weight: 400;

						transition: 0.3s all ease-in-out;
					}
					.portfolio-list-all li a:hover,
					.portfolio-list-all li a:focus {
						opacity: 0.8;

						color: rgba(57, 57, 57, 0.8);
					}

		.portfolio-button {
			margin-top: 80px;

			background: rgba(23, 194, 164, 1); border-radius: 5px; border-bottom: 5px solid rgba(0, 0, 0, 0.15)
		}
		.portfolio-button:hover,
		.portfolio-button:focus {
			cursor: pointer;  background: rgba(23, 194, 164, 0.8); 
		}
		.portfolio-button:active {
			cursor: pointer;  background: rgba(23, 194, 164, 0.5); 
		}

/*

*/
.reviews {
	padding: 100px 0 150px 0; 

	color: #fff;

	background: #d74680;
}
	.reviews .wrapper {
		display:  flex;  flex-direction: column; align-items: center;
	}
		.reviews h2 {
			margin: 0; 

			font-size: 40px; line-height: 30px; text-transform: uppercase; font-weight: 700;
		}
		.reviews h2::after {
			content: ""; margin: 20px auto; display: block; width: 80px; height: 5px; 

			background: rgba(0, 0, 0, 0.15)
		}
		.reviews-subtitle {
			margin: 0 0 80px 0;

			font-size: 18px; line-height: 26px; text-align: center; font-weight: 400;
		}
		.reviews-people-list {
			margin: 0; padding: 0; display: flex; width: 100%; flex-wrap: wrap;

			list-style: none;
		}
			.reviews-people-list li {
				display: flex; justify-content: space-between;

				width: 47.27%; padding:10px 20px 0 0; margin:0 20px 120px 0;
			}
			.reviews-people-list li:nth-child(even) {
				margin-right: 0px;
			}
				.reviews-people-list li img {
					margin-right: 40px;
				}
				.reviews-people-list li p:first-child {
					margin: 0 0 20px 0;
					font-size: 18px; line-height: 26px; font-weight: 400; font-style: italic;
				}
				.reviews-people-list li p:nth-child(2) {
					margin: 0; padding: 0;
					font-size: 24px; line-height: 26px; font-weight: 700; text-transform: uppercase;
				}
				.reviews-people-list li p:last-child {
					margin: 0; padding: 0;
					color: #ffdd99; font-size: 18px; line-height: 26px; font-weight: 400;
				}

/*

*/
.feedback {
	padding: 100px 0 150px 0; 

	color: #fff; text-align: center;

	background: #3c5499;
}
	.feedback .wrapper {
		display: flex; flex-direction: column; align-items: center;
	}
		.feedback h2 {
			margin: 0; 

			font-size: 40px; line-height: 30px; text-transform: uppercase;
		}
		.feedback h2::after {
			content: ""; margin: 20px auto; display: block; width: 80px; height: 5px; 

			background: #273a71;
		}
		.feedback .feedback-subtitle {
			margin: 0 0 75px 0;

			font-size: 18px; line-height: 26px;
		}
		.feedback form {
			width: 79.09%; display: flex;  flex-wrap: wrap; justify-content: space-between;
		}
			.feedback form p:first-child {
				width: 47.12%; margin-right: 40px;
			}
				.feedback form p:first-child input {
					width: 100%; padding: 10px;

					background: #273a71; border-radius: 5px; border: none;
				}

			.feedback form p:nth-child(2) {
				width: 47.12%;
			}
				.feedback form p:nth-child(2) input {
					width: 100%; padding: 10px;

					background: #273a71; border-radius: 5px; border: none;
				}

			.feedback form p:nth-child(3) {
				width: 100%;
			}
				.feedback form p:nth-child(3) textarea {
					width: 100%; padding: 10px;

					background: #273a71; border-radius: 5px; border: none;
				}
			
			.feedback form input[type="button"] {
				padding: 20px 80px; margin: 60px auto 0 auto; outline: 0;

				font-size: 18px; line-height: 26px; text-transform: uppercase;	color: #fff;

				background: rgba(48, 186, 231, 1); border-radius: 5px; border: none; border-bottom: 5px solid rgba(0, 0, 0, 0.15); 
			}
			
			.feedback form input[type="button"]:hover,
			.feedback form input[type="button"]:focus {
				cursor: pointer;  background: rgba(48, 186, 231, 0.8); 
			}
			.feedback form input[type="button"]:active {
				cursor: pointer;  background: rgba(48, 186, 231, 0.5);
			}
/*

*/
.main-footer {
	padding: 40px 0;

	background: #344b8e; border-top: 2px solid #3c5499;
}
	.main-footer ul {
		margin: 0; padding: 0; display: flex; justify-content: center;

		list-style: none;
	}
	.main-footer ul li {

	}
		.main-footer ul li a {
			display: block; padding: 10px; margin-right: 50px;

			color: #fff;font-size: 24px; line-height: 30px; font-weight: 600; text-decoration: none;
		}
		.main-footer ul li a:hover,
		.main-footer ul li a:focus {
			color: rgba(48, 186, 231, 1);
		}
		.main-footer ul li a:active {
			color: rgba(48, 186, 231, 0.8);
		}
		.main-footer ul li:last-child a{
			margin-right: 0;
		}